* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 22px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

#habit-tracker {
  width: 60%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: bisque;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header > h1 {
  font-size: 2rem;
}

.header-count {
  width: 3rem;
  height: 3rem;
  margin: 0;
  background-color: darkgreen;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  color: #ffff;
}

section::-webkit-scrollbar {
  display: none;
}

section {
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

section > form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* 구체적인 선택자를 정하자 */
#habit-tracker input {
  padding: 0.5rem;
  width: 80%;
  height: 100%;
  outline: none;
  border: 2px solid black;
  background-color: inherit;
  font-size: 1.5rem;
}

#habit-tracker input::placeholder {
  font-size: 1rem;
}

.habit-list {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.habit-item {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.habit-item__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.habit-item__title > h2 {
  font-size: 1.5rem;
}

.habit-item__title > span {
  width: 2.5rem;
  height: 2.5rem;
  background-color: darkgreen;
  border-radius: 50%;

  color: #ffff;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-item__operator {
  margin-right: 10rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.habit-item__operator i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  border-radius: 0.5rem;
  background-color: lightsalmon;
  border: none;
  color: #ffff;
}

.habit-item__operator i {
  font-size: 1.5rem;
}

footer {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn,
.resetBtn {
  padding: 0.5rem;
  background-color: darkgreen;
  border: none;

  font-size: 1.5rem;
  color: #ffff;
}

.habit-item__operator i:hover {
  opacity: 0.5;
}

.addBtn:hover,
.resetBtn:hover {
  background-color: lightsalmon;
  opacity: 1;
}

/* responsive  */
@media (max-width: 1050px) {
  .habit-item__operator {
    width: 7rem;
  }
  .habit-item__operator i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: lightsalmon;
    border: none;
    color: #ffff;
  }

  .habit-item__operator i {
    font-size: 1rem;
  }

  .habit-item__title > span {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  .addBtn,
  .resetBtn {
    padding: 0.5rem;
    background-color: darkgreen;
    border: none;

    font-size: 1rem;
    color: #ffff;
  }

  #habit-tracker input {
    font-size: 1rem;
  }

  #habit-tracker input::placeholder {
    font-size: 0.7rem;
  }

  header > h1 {
    font-size: 1.5rem;
  }

  .habit-item__title > h2 {
    font-size: 1.2rem;
  }
}
